
#contactIn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#contactIn div {
  margin-bottom: 15px;
}
#linkdin img {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  /* box-shadow: .5px .5px 2px .5px rgb(15, 245, 245); */
}

#linkdin img:hover {
  transform: scale(1.2, 1.2);
}

#linkdin a {
  margin-bottom: 10px;
  border: 10px solid transparent;
}
