body {
  padding: 0%;
  margin: 0%;
}
.footer,
.navbar {
  height: 40px;
  background-color: teal;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.navbar {
  top: 0%;
}

.footer {
  bottom: 0px;
}

.navbar a {
  text-transform: none;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar a:hover {
  color: rgb(230, 227, 227);
}
